{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a class="button hollow primary" href="{{ path('category_index') }}">Retour</a>
{% endblock %}
