{% extends 'base.html.twig' %}

{% block title %}Créer un groupe{% endblock %}

{% block body %}
    <h1>Créer un groupe</h1>

    {{ include('group/_form.html.twig') }}

    <a class="button hollow primary" href="{{ path('group_index') }}">Retour</a>
{% endblock %}
