{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h1>Modifier un utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button hollow primary" href="{{ path('user_index') }}">Retour</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
